/* You can add global styles to this file, and also import other style files */
@use 'styles/reboot';
@use 'styles/themes';
@use 'styles/colors';
@use 'styles/grid';
@use 'styles/helpers';
@use 'styles/plugins';
@use 'styles/custom';
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@costlydeveloper/ngx-awesome-popup/styles/theme';
/*
@import '../node_modules/@syncfusion/ej2-base/styles/material.scss';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.scss';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.scss';
@import '../node_modules//@syncfusion/ej2-inputs/styles/material.scss';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.scss';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.scss';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.scss';
@import '../node_modules/@syncfusion/ej2-notifications/styles/material.scss';
@import '../node_modules/@syncfusion/ej2-pdfviewer/styles/material.scss';
*/
/* Cible le container interne Angular Material */
.cdk-overlay-container .center-snackbar {
  position: fixed !important;
  top: 50% !important;
  bottom: auto !important;
  left: 50% !important;
  right: auto !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
}