<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
  <a class="navbar-brand" routerLink="home">
    <img class="Logo mx-2" [src]="imageOrangeLogo" alt="Logo" />
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" ngxPermissionsOnly="R_ADMI">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
    <button mat-icon-button class="hide-small" (click)="toggleFullscreen()">
      <mat-icon>fullscreen</mat-icon>
    </button>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div [class]="col_div_iframe">
      <div class="row mt-1">
        @if (
          fiche.extention === '.pdf' || fiche.extention === '.pptx' || fiche.extention === '.docx'
        ) {
          <div
            class="row justify-content-between mt-3 align-items-center"
            style="margin-bottom: -25px"
          >
            <div class="col-md-4 col-sm-2">
              <button mat-raised-button class="small-button" (click)="back()">Retour</button>
            </div>
            <div class="col-md-4 col-sm-2" style="font-size: small">
              {{ fiche.titre | titlecase }}
            </div>

            <div class="col-md-4 col-sm-2 text-end">
              @if (user.roles === 'R_ADMI' || user.roles === 'R_GB') {
                <mat-icon
                  style="color: #ff8e36; cursor: pointer"
                  matTooltip="Modifer"
                  matTooltipPosition="above"
                  (click)="update(fiche.id)"
                  >edit</mat-icon
                >
                <mat-icon
                  (click)="
                    deleteSomething('Êtes vous sûr de vouloir archiver cette fiche ?', 'archivage')
                  "
                  style="color: #ff8e36; margin-left: 15px; cursor: pointer"
                  matTooltip="archiver"
                  matTooltipPosition="above"
                  >archive</mat-icon
                >
                <mat-icon
                  (click)="
                    deleteSomething(
                      'Êtes vous sûr de vouloir supprimer cette fiche ?',
                      'suppression'
                    )
                  "
                  style="color: #ff8e36; margin-left: 15px; cursor: pointer"
                  matTooltip="supprimer"
                  matTooltipPosition="above"
                  >delete_forever</mat-icon
                >
              } @else {}
            </div>
          </div>
          <div class="embed-responsive embed-responsive-16by9">
            <!-- Remplacez "votre-fichier.pdf" par le chemin de votre fichier PDF
            
            -->
            <iframe class="embed-responsive-item" [src]="url" allowfullscreen></iframe>
          </div>
        } @else {
          <!-- excel-viewer.component.html -->
          <div *ngIf="fiche?.extention === '.xlsx'" class="excel-container">
            <div class="controls-row">
              <div>
                <button mat-raised-button class="small-button" (click)="back()">Retour</button>
              </div>
              <div class="sheet-selector" *ngIf="sheetNames.length > 0">
                <label for="select" style="font-size: small">Veuillez changer la feuille</label>
                <select
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm example"
                  name=""
                  id="select"
                  [(ngModel)]="currentSheet"
                  (selectionChange)="changeSheet()"
                >
                  <option *ngFor="let sheet of sheetNames" [value]="sheet">{{ sheet }}</option>
                </select>
              </div>
              <div style="font-size: small">
                <span style="font-weight: bold">Titre: </span>{{ fiche.titre | titlecase }}
              </div>

              <div class="actions d-flex align-items-center">
                <div>
                  @if (user.roles === 'R_ADMI' || user.roles === 'R_GB') {
                    <mat-icon
                      style="color: #ff8e36; cursor: pointer"
                      matTooltip="Modifer"
                      matTooltipPosition="above"
                      (click)="update(fiche.id)"
                      >edit</mat-icon
                    >
                    <mat-icon
                      (click)="
                        deleteSomething(
                          'Êtes vous sûr de vouloir archiver cette fiche ?',
                          'archivage'
                        )
                      "
                      style="color: #ff8e36; margin-left: 15px; cursor: pointer"
                      matTooltip="archiver"
                      matTooltipPosition="above"
                      >archive</mat-icon
                    >
                    <mat-icon
                      (click)="
                        deleteSomething(
                          'Êtes vous sûr de vouloir supprimer cette fiche ?',
                          'suppression'
                        )
                      "
                      style="color: #ff8e36; margin-left: 15px; cursor: pointer"
                      matTooltip="supprimer"
                      matTooltipPosition="above"
                      >delete_forever</mat-icon
                    >
                  } @else {}
                </div>
                @if (user.roles === 'R_ADMI' || user.roles === 'R_GB') {
                  <button
                    mat-raised-button
                    color="primary"
                    class="small-button"
                    (click)="downloadExcel()"
                  >
                    <mat-icon>download</mat-icon> Télécharger
                  </button>
                }
              </div>
            </div>

            <div class="excel-viewer">
              <hot-table
                [data]="data"
                [colHeaders]="true"
                [rowHeaders]="true"
                [height]="600"
                [width]="'100%'"
                [settings]="hotSettings"
                licenseKey="non-commercial-and-evaluation"
              >
              </hot-table>
            </div>
          </div>
        }
      </div>
    </div>
    @if (fiche.Utilite) {
      <div class="col-md-3 col-sm-12 mt-md-5 mt-sm-1">
        <mat-tab-group *ngIf="fiche.Commentaire || fiche.Utilite || fiche.Quiz.length > 0">
          <!-- Onglet Utilité -->
          <mat-tab>
            <ng-template mat-tab-label> Sondages </ng-template>
            @if (fiche.Quiz.length > 0) {
              <form [formGroup]="formGroup_Quiz">
                <div *ngIf="show_value_Quiz">
                  <hr class="Quiz" />
                  <div>
                    <p class="mt-3" style="font-family: poppins, sans-serif; font-size: small">
                      {{ fiche.Quiz[0].libelleQuestion }} ?
                    </p>
                    <div class="d-flex">
                      <mat-radio-group formControlName="Reponse1">
                        <mat-radio-button class="example-margin" style="font-size: small" value="1"
                          >VRAI</mat-radio-button
                        >
                        <mat-radio-button class="example-margin" style="font-size: small" value="0"
                          >FAUX</mat-radio-button
                        >
                      </mat-radio-group>
                    </div>
                  </div>
                  <div>
                    <p class="mt-3" style="font-family: poppins, sans-serif; font-size: small">
                      {{ fiche.Quiz[1].libelleQuestion }} ?
                    </p>

                    <div class="d-flex">
                      <mat-radio-group formControlName="Reponse2">
                        <mat-radio-button class="example-margin" style="font-size: small" value="1"
                          >VRAI</mat-radio-button
                        >
                        <mat-radio-button class="example-margin" style="font-size: small" value="0"
                          >FAUX</mat-radio-button
                        >
                      </mat-radio-group>
                    </div>
                  </div>
                  <div class="row text-center justify-content-center p-0 m-0">
                    <button
                      mat-button
                      [disabled]="formGroup_Quiz.invalid"
                      class="text-center button_valide"
                      (click)="response_quiz()"
                    >
                      Valider
                    </button>
                  </div>
                </div>
              </form>
            }

            <div class="mt-md-0" *ngIf="show_div_value_sondage">
              <div *ngIf="show_value_utilite">
                <hr class="utilite" />
                <span style="font-size: small">Le contenu est-il utile ?</span>
                <div class="d-flex justify-content-center m-0">
                  <button
                    class="btn btn-success btn-sm btn_non"
                    value="1"
                    (click)="reponse_utilite(1)"
                  >
                    OUI
                  </button>
                  <button
                    class="btn btn-danger btn-sm btn_non"
                    value="0"
                    (click)="reponse_utilite(0)"
                  >
                    NON
                  </button>
                </div>
              </div>
            </div>
          </mat-tab>

          <!-- Onglet Commentaires -->
          <mat-tab *ngIf="show_div_value_commentaire">
            <ng-template mat-tab-label> Commentaires </ng-template>
            <div class="mt-5 text-center">
              <form [formGroup]="formGroum" action="">
                <textarea
                  class="form-control commentaire-box"
                  rows="4"
                  placeholder="Ajoutez un commentaire..."
                  formControlName="message"
                ></textarea>
              </form>

              <button
                mat-raised-button
                (click)="back()"
                (click)="addCommentaire()"
                [disabled]="formGroum.invalid"
              >
                Envoyer
              </button>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    }
  </div>
</div>
