<mat-card>
  <mat-card-content>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card shadow-lg p-4">
            <div class="card-body">
              <form [formGroup]="snapForm">
                <!-- Upload de fichier -->
                <div class="mb-3">
                  <label for="fileInput" class="form-label">
                    <h6>Télécharger un document <span class="text-danger">*</span></h6>
                  </label>
                  <input
                    type="file"
                    id="fileInput"
                    class="form-control"
                    [class.is-invalid]="!file && snapForm.touched"
                    (change)="onFileSelected($event)"
                    required
                  />
                  <div *ngIf="!file && snapForm.touched" class="invalid-feedback d-block">
                    Le fichier est obligatoire
                  </div>
                  <small class="text-muted">
                    Formats acceptés :
                    <span class="format-customizer"
                      >pdf, word, excel, power point, png, jpg</span
                    ></small
                  >
                  <small class="text-muted mx-3">
                    Taille maximale acceptée:
                    <span class="format-customizer">100 MO</span></small
                  >
                </div>

                <div class="row d-flex justify-content-between align-items-center left-right">
                  <div class="col-md-6 col-sm-12 left">
                    <div class="row">
                      <div class="col-md-6 col-ms-12">
                        <label for="titre" class="form-label"
                          >Titre <span class="text-danger">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          [class.is-invalid]="
                            snapForm.get('titre')?.invalid && snapForm.get('titre')?.touched
                          "
                          id="titre"
                          formControlName="titre"
                          required
                        />
                        <div
                          *ngIf="snapForm.get('titre')?.invalid && snapForm.get('titre')?.touched"
                          class="invalid-feedback"
                        >
                          Le titre est obligatoire
                        </div>
                      </div>
                      <!-- SLA -->
                      <div class="col-md-6 col-ms-12">
                        <label for="sla" class="form-label"
                          >Type <span class="text-danger">*</span></label
                        >
                        <select
                          class="form-select"
                          [class.is-invalid]="
                            snapForm.get('id_Sla')?.invalid && snapForm.get('id_Sla')?.touched
                          "
                          id="sla"
                          formControlName="id_Sla"
                          required
                        >
                          <option value="">Sélectionner un type</option>
                          <option *ngFor="let items of slaListe" [value]="items.id">
                            {{ items.type }}
                          </option>
                        </select>
                        <div
                          *ngIf="snapForm.get('id_Sla')?.invalid && snapForm.get('id_Sla')?.touched"
                          class="invalid-feedback"
                        >
                          Le type est obligatoire
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for=""
                          >Catégorie <span class="text-danger">*</span></label
                        >
                        <select
                          class="form-select"
                          [class.is-invalid]="
                            snapForm.get('id_Categorie')?.invalid &&
                            snapForm.get('id_Categorie')?.touched
                          "
                          formControlName="id_Categorie"
                          required
                          (change)="onSelectionChanged($event)"
                        >
                          <option value="">Sélectionner une catégorie</option>
                          <option
                            *ngFor="let items of ListecategorieSousCategorie"
                            [value]="items.id"
                          >
                            {{ items.Categorie }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            snapForm.get('id_Categorie')?.invalid &&
                            snapForm.get('id_Categorie')?.touched
                          "
                          class="invalid-feedback"
                        >
                          La catégorie est obligatoire
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for=""
                          >Sous-Catégorie <span class="text-danger">*</span></label
                        >
                        <select
                          class="form-select"
                          [class.is-invalid]="
                            snapForm.get('id_SousCategorie')?.invalid &&
                            snapForm.get('id_SousCategorie')?.touched
                          "
                          formControlName="id_SousCategorie"
                          required
                        >
                          <option value="">Sélectionner une sous-catégorie</option>
                          <option *ngFor="let items of ListeSousCategorie" [value]="items.id">
                            {{ items.nom }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            snapForm.get('id_SousCategorie')?.invalid &&
                            snapForm.get('id_SousCategorie')?.touched
                          "
                          class="invalid-feedback"
                        >
                          La sous-catégorie est obligatoire
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for=""
                          >Date de réception <span class="text-danger">*</span></label
                        >
                        <input
                          type="datetime-local"
                          class="form-control"
                          [class.is-invalid]="
                            snapForm.get('dateReception')?.invalid &&
                            snapForm.get('dateReception')?.touched
                          "
                          formControlName="dateReception"
                          required
                        />
                        <div
                          *ngIf="
                            snapForm.get('dateReception')?.invalid &&
                            snapForm.get('dateReception')?.touched
                          "
                          class="invalid-feedback"
                        >
                          La date de réception est obligatoire
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for=""
                          >Date de début <span class="text-danger">*</span></label
                        >
                        <input
                          type="datetime-local"
                          class="form-control"
                          [class.is-invalid]="
                            snapForm.get('dateDebut')?.invalid && snapForm.get('dateDebut')?.touched
                          "
                          formControlName="dateDebut"
                          required
                        />
                        <div
                          *ngIf="
                            snapForm.get('dateDebut')?.invalid && snapForm.get('dateDebut')?.touched
                          "
                          class="invalid-feedback"
                        >
                          La date de début est obligatoire
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for=""
                          >Date de visibilité <span class="text-danger">*</span></label
                        >
                        <input
                          type="datetime-local"
                          class="form-control"
                          [class.is-invalid]="
                            snapForm.get('dateVisibilite')?.invalid &&
                            snapForm.get('dateVisibilite')?.touched
                          "
                          formControlName="dateVisibilite"
                          required
                        />
                        <div
                          *ngIf="
                            snapForm.get('dateVisibilite')?.invalid &&
                            snapForm.get('dateVisibilite')?.touched
                          "
                          class="invalid-feedback"
                        >
                          La date de visibilité est obligatoire
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for=""
                          >Date de fin <span class="text-danger">*</span></label
                        >
                        <input
                          type="datetime-local"
                          class="form-control"
                          formControlName="dateFin"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-12 right">
                    <div class="row">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Sites</th>
                            <th>Accès</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let site of ListeSite">
                            <td>{{ site.nom }}</td>
                            <td>
                              <div class="form-check form-switch">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  id="flexSwitchCheckChecked"
                                  [checked]="selectedAccesSite.includes(site.id)"
                                  (change)="onAccesSiteCheckboxChange($event, site.id)"
                                />
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="mb-3">
                      <label for="niveau" class="form-label"
                        >Niveau <span class="text-danger">*</span></label
                      >
                      <select
                        id="niveau"
                        formControlName="niveau"
                        class="form-select"
                        [class.is-invalid]="
                          snapForm.get('niveau')?.invalid && snapForm.get('niveau')?.touched
                        "
                        aria-label="Sélection du niveau"
                        required
                      >
                        <option value="">Sélectionner un niveau</option>
                        <option value="0">PAS DE NIVEAU</option>
                        <option value="1">N1</option>
                        <option value="2">N2</option>
                      </select>
                      <div
                        *ngIf="snapForm.get('niveau')?.invalid && snapForm.get('niveau')?.touched"
                        class="invalid-feedback"
                      >
                        Le niveau est obligatoire
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Ajouter des questionnaires -->
                <div class="form-check mt-4 mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    (change)="checkValue($event)"
                    id="addQuestionnaire"
                    formControlName="isChecked"
                  />
                  <label class="form-check-label" for="addQuestionnaire">
                    <h6>Ajouter des questionnaires ?</h6>
                  </label>
                </div>

                <!-- Questions / Réponses -->
                <div *ngIf="showQuestionnaireValue" class="mt-3">
                  <div class="alert alert-info">
                    <strong>Note :</strong> Si vous activez les questionnaires, toutes les questions
                    et réponses deviennent obligatoires.
                  </div>

                  <div class="row mt-2">
                    <md-input-container formGroupName="Quiz1">
                      <div class="row mt-2">
                        <div class="col-md-6">
                          <div class="form-floating">
                            <textarea
                              class="form-control"
                              [class.is-invalid]="
                                snapForm.get('Quiz1.Question1')?.invalid &&
                                snapForm.get('Quiz1.Question1')?.touched
                              "
                              placeholder="Leave a comment here"
                              id="floatingTextarea1"
                              formControlName="Question1"
                            ></textarea>
                            <label for="floatingTextarea1" style="font-size: 10px"
                              >Question 1 <span class="text-danger">*</span></label
                            >
                            <div
                              *ngIf="
                                snapForm.get('Quiz1.Question1')?.invalid &&
                                snapForm.get('Quiz1.Question1')?.touched
                              "
                              class="invalid-feedback"
                            >
                              La question 1 est obligatoire
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="" style="font-size: 10px"
                            >Réponse 1 <span class="text-danger">*</span></label
                          >
                          <select
                            class="form-select"
                            [class.is-invalid]="
                              snapForm.get('Quiz1.Reponse1')?.invalid &&
                              snapForm.get('Quiz1.Reponse1')?.touched
                            "
                            style="font-size: 10px"
                            formControlName="Reponse1"
                          >
                            <option value="">Sélectionner</option>
                            <option
                              *ngFor="let response of responses"
                              [value]="response.id"
                              style="font-size: 10px"
                            >
                              {{ response.label }}
                            </option>
                          </select>
                          <div
                            *ngIf="
                              snapForm.get('Quiz1.Reponse1')?.invalid &&
                              snapForm.get('Quiz1.Reponse1')?.touched
                            "
                            class="invalid-feedback"
                          >
                            La réponse 1 est obligatoire
                          </div>
                        </div>
                      </div>
                    </md-input-container>

                    <md-input-container formGroupName="Quiz2">
                      <div class="row mt-2">
                        <div class="col-md-6">
                          <div class="form-floating">
                            <textarea
                              class="form-control"
                              [class.is-invalid]="
                                snapForm.get('Quiz2.Question2')?.invalid &&
                                snapForm.get('Quiz2.Question2')?.touched
                              "
                              placeholder="Leave a comment here"
                              id="floatingTextarea2"
                              formControlName="Question2"
                            ></textarea>
                            <label for="floatingTextarea2" style="font-size: 10px"
                              >Question 2 <span class="text-danger">*</span></label
                            >
                            <div
                              *ngIf="
                                snapForm.get('Quiz2.Question2')?.invalid &&
                                snapForm.get('Quiz2.Question2')?.touched
                              "
                              class="invalid-feedback"
                            >
                              La question 2 est obligatoire
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="" style="font-size: 10px"
                            >Réponse 2 <span class="text-danger">*</span></label
                          >
                          <select
                            class="form-select"
                            [class.is-invalid]="
                              snapForm.get('Quiz2.Reponse2')?.invalid &&
                              snapForm.get('Quiz2.Reponse2')?.touched
                            "
                            style="font-size: 10px"
                            formControlName="Reponse2"
                          >
                            <option value="">Sélectionner</option>
                            <option
                              *ngFor="let response of responses"
                              [value]="response.id"
                              style="font-size: 10px"
                            >
                              {{ response.label }}
                            </option>
                          </select>
                          <div
                            *ngIf="
                              snapForm.get('Quiz2.Reponse2')?.invalid &&
                              snapForm.get('Quiz2.Reponse2')?.touched
                            "
                            class="invalid-feedback"
                          >
                            La réponse 2 est obligatoire
                          </div>
                        </div>
                      </div>
                    </md-input-container>

                    <md-input-container formGroupName="Quiz3">
                      <div class="row mt-2">
                        <div class="col-md-6">
                          <div class="form-floating">
                            <textarea
                              class="form-control"
                              [class.is-invalid]="
                                snapForm.get('Quiz3.Question3')?.invalid &&
                                snapForm.get('Quiz3.Question3')?.touched
                              "
                              placeholder="Leave a comment here"
                              id="floatingTextarea3"
                              formControlName="Question3"
                            ></textarea>
                            <label for="floatingTextarea3" style="font-size: 10px"
                              >Question 3 <span class="text-danger">*</span></label
                            >
                            <div
                              *ngIf="
                                snapForm.get('Quiz3.Question3')?.invalid &&
                                snapForm.get('Quiz3.Question3')?.touched
                              "
                              class="invalid-feedback"
                            >
                              La question 3 est obligatoire
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="" style="font-size: 10px"
                            >Réponse 3 <span class="text-danger">*</span></label
                          >
                          <select
                            class="form-select"
                            [class.is-invalid]="
                              snapForm.get('Quiz3.Reponse3')?.invalid &&
                              snapForm.get('Quiz3.Reponse3')?.touched
                            "
                            style="font-size: 10px"
                            formControlName="Reponse3"
                          >
                            <option value="">Sélectionner</option>
                            <option
                              *ngFor="let response of responses"
                              [value]="response.id"
                              style="font-size: 10px"
                            >
                              {{ response.label }}
                            </option>
                          </select>
                          <div
                            *ngIf="
                              snapForm.get('Quiz3.Reponse3')?.invalid &&
                              snapForm.get('Quiz3.Reponse3')?.touched
                            "
                            class="invalid-feedback"
                          >
                            La réponse 3 est obligatoire
                          </div>
                        </div>
                      </div>
                    </md-input-container>

                    <md-input-container formGroupName="Quiz4">
                      <div class="row mt-2">
                        <div class="col-md-6">
                          <div class="form-floating">
                            <textarea
                              class="form-control"
                              [class.is-invalid]="
                                snapForm.get('Quiz4.Question4')?.invalid &&
                                snapForm.get('Quiz4.Question4')?.touched
                              "
                              placeholder="Leave a comment here"
                              id="floatingTextarea4"
                              formControlName="Question4"
                            ></textarea>
                            <label for="floatingTextarea4" style="font-size: 10px"
                              >Question 4 <span class="text-danger">*</span></label
                            >
                            <div
                              *ngIf="
                                snapForm.get('Quiz4.Question4')?.invalid &&
                                snapForm.get('Quiz4.Question4')?.touched
                              "
                              class="invalid-feedback"
                            >
                              La question 4 est obligatoire
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="" style="font-size: 10px"
                            >Réponse 4 <span class="text-danger">*</span></label
                          >
                          <select
                            class="form-select"
                            [class.is-invalid]="
                              snapForm.get('Quiz4.Reponse4')?.invalid &&
                              snapForm.get('Quiz4.Reponse4')?.touched
                            "
                            style="font-size: 10px"
                            formControlName="Reponse4"
                          >
                            <option value="">Sélectionner</option>
                            <option
                              *ngFor="let response of responses"
                              [value]="response.id"
                              style="font-size: 10px"
                            >
                              {{ response.label }}
                            </option>
                          </select>
                          <div
                            *ngIf="
                              snapForm.get('Quiz4.Reponse4')?.invalid &&
                              snapForm.get('Quiz4.Reponse4')?.touched
                            "
                            class="invalid-feedback"
                          >
                            La réponse 4 est obligatoire
                          </div>
                        </div>
                      </div>
                    </md-input-container>
                  </div>
                </div>

                <!-- Autorisation de la fiche -->
                <h6 class="mt-4">Autorisation de la fiche</h6>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Autorisation</th>
                      <th>Quiz</th>
                      <th>Utilité</th>
                      <th>Accès</th>
                      <th>Commentaire</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let role of ListeProfil">
                      <td>{{ role.nom }}</td>
                      @if (
                        role.Role_Associe === 'R_ADMI' ||
                        role.Role_Associe === 'R_SUPE' ||
                        role.Role_Associe === 'R_GB'
                      ) {
                        <td>
                          <input
                            class="form-check-input"
                            type="checkbox"
                            [checked]="selectedQuizProfiles.includes(role.id)"
                            (change)="onQuizCheckboxChange($event, role.id)"
                          />
                        </td>
                        <td>
                          <input
                            class="form-check-input"
                            type="checkbox"
                            [checked]="selectedUtiliteProfiles.includes(role.id)"
                            (change)="onUtiliteCheckboxChange($event, role.id)"
                          />
                        </td>
                        <td>
                          <input
                            class="form-check-input"
                            type="checkbox"
                            [checked]="selectedAccesProfiles.includes(role.id)"
                            (change)="onAccesCheckboxChange($event, role.id)"
                          />
                        </td>
                        <td>
                          <input
                            class="form-check-input"
                            type="checkbox"
                            checked
                            [checked]="selectedAccesCommentaire.includes(role.id)"
                            (change)="onAccesCommentaireCheckboxChange($event, role.id)"
                          />
                        </td>
                      } @else {
                        <td>
                          <input
                            class="form-check-input"
                            type="checkbox"
                            checked
                            [checked]="selectedQuizProfiles.includes(role.id)"
                            (change)="onQuizCheckboxChange($event, role.id)"
                          />
                        </td>
                        <td>
                          <input
                            class="form-check-input"
                            type="checkbox"
                            checked
                            [checked]="selectedUtiliteProfiles.includes(role.id)"
                            (change)="onUtiliteCheckboxChange($event, role.id)"
                          />
                        </td>
                        <td>
                          <input
                            class="form-check-input"
                            type="checkbox"
                            checked
                            [checked]="selectedAccesProfiles.includes(role.id)"
                            (change)="onAccesCheckboxChange($event, role.id)"
                          />
                        </td>
                        <td>
                          <input
                            class="form-check-input"
                            type="checkbox"
                            checked
                            [checked]="selectedAccesCommentaire.includes(role.id)"
                            (change)="onAccesCommentaireCheckboxChange($event, role.id)"
                          />
                        </td>
                      }
                    </tr>
                  </tbody>
                </table>

                <!-- Boutons -->
                <div class="text-center">
                  <button
                    mat-raised-button
                    style="background-color: #ff8e36; border-color: #ff8e36"
                    (click)="handleOnSumit()"
                    [disabled]="isSubmitting"
                    style="margin-right: 5px"
                  >
                    <span *ngIf="!isSubmitting">Envoyer</span>
                    <span *ngIf="isSubmitting">
                      <span
                        class="spinner-border spinner-border-sm me-2"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      Envoi en cours...
                    </span>
                  </button>
                  <button mat-raised-button (click)="resetForm()" [disabled]="isSubmitting">
                    Effacer
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
