.container {
  background-color: var(--header-background-color);
  height: 100vh;
}
.profile,
.container {
  background-color: var(--header-background-color);
  height: 100%;
}
.image_profile {
  display: block;
  margin: auto;
  padding: 10px;
  width: 130px;
  height: 130px;
  border: 2px solid #ff8e36;
  border-radius: 50%;
}
ul li {
  list-style: none;
}
.title {
  font-family: poppins, sans-serif;
  font-size: small;
  font-weight: bold;
  color: rgba(35, 34, 34, 0.808);
}
.sub_title {
  font-family: poppins, sans-serif;
  font-size: small;
  font-weight: 400;
  color: #ff8e36;
}
.mat-tab-group {
  margin-bottom: 48px;
}
.left,
.right {
  background-color: var(--header-background-color);
  height: 100%;
}
.left {
  border: 1px solid #ff8e36;
  border-radius: 5px;
}
table,
mat-paginator {
  background-color: transparent;
}
tr,
td,
th {
  cursor: pointer;
}
td:hover {
  color: #ff8e36;
}
mat-icon {
  cursor: pointer;
}
::ng-deep .mat-mdc-tab.mdc-tab.mdc-tab.mdc-tab--active {
  background-color: #ff8e36;
  font-weight: 900;
}
tr > th {
  font-family: poppins, sans-serif;
  font-size: 10px;
}

.mat-mdc-row,
.mat-mdc-header-row {
  height: 25px !important;
  min-height: 25px !important;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  padding: 0 4px !important;
}

.mat-mdc-row:nth-child(odd) {
  background-color: #ddd3c89a;
}

.mat-mdc-row:nth-child(even) {
  background-color: #c7dccc4e;
}

.mat-mdc-header-row {
  background-color: #f0f0f0 !important;
}

.mat-mdc-header-cell {
  font-weight: bold !important;
  color: #333 !important;
  font-size: 10px !important;
}

.mat-mdc-row:hover {
  background-color: #e8f0fe !important;
}
/* Augmenter la hauteur des lignes */
.mat-mdc-row {
  height: 15px !important; /* Ajustez selon vos besoins */
}

.mat-mdc-header-row {
  height: 20px !important; /* Pour les en-têtes */
}

/* Alternative: utiliser min-height pour plus de flexibilité */
.mat-mdc-row {
  min-height: 10px !important;
}

/* Pour ajuster le padding des cellules */
.mat-mdc-cell,
.mat-mdc-header-cell {
  padding: 10px 20px !important; /* top/bottom left/right */
}
.mat-mdc-cell {
  font-size: 10px !important; /* Ajustez selon vos besoins (défaut: 14px) */
}
