<mat-card>
  <mat-card-content>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card shadow-lg p-4">
            <div class="card-body">
              <form [formGroup]="snapForm">
                <!-- Upload de fichier -->
                <div class="mb-3">
                  <label for="fileInput" class="form-label">
                    <h6>Télécharger un document</h6>
                  </label>
                  <input
                    type="file"
                    id="fileInput"
                    class="form-control"
                    (change)="onFileSelected($event)"
                  />
                  <small class="text-muted">
                    Formats acceptés :
                    <span class="format-customizer"
                      >pdf,world,excel,power point,png,jpg</span
                    ></small
                  >
                </div>

                <div class="row d-flex justify-content-between align-items-center left-right">
                  <div class="col-md-6 col-sm-12 left">
                    <div class="row">
                      <div class="col-md-6 col-ms-12">
                        <label for="titre" class="form-label">Titre*</label>
                        <input
                          type="text"
                          class="form-control"
                          id="titre"
                          formControlName="titre"
                          required
                        />
                      </div>
                      <!-- SLA -->
                      <div class="col-md-6 col-ms-12">
                        <label for="sla" class="form-label">Type *</label>
                        <select class="form-select" id="sla" formControlName="id_Sla" required>
                          <option *ngFor="let items of slaListe" [value]="items.id">
                            {{ items.type }}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="">Catégorie *</label>
                        <select
                          class="form-select"
                          formControlName="id_Categorie"
                          required
                          (change)="onSelectionChanged($event)"
                        >
                          <option
                            *ngFor="let items of ListecategorieSousCategorie"
                            [value]="items.id"
                          >
                            {{ items.Categorie }}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="">Sous-Catégorie *</label>
                        <select class="form-select" formControlName="id_SousCategorie" required>
                          <option *ngFor="let items of ListeSousCategorie" [value]="items.id">
                            {{ items.nom }}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="">Date de réception *</label>
                        <input
                          type="datetime-local"
                          class="form-control"
                          formControlName="dateReception"
                          required
                        />
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="">Date de début *</label>
                        <input
                          type="datetime-local"
                          class="form-control"
                          formControlName="dateDebut"
                          required
                        />
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="">Date de visibilité *</label>
                        <input
                          type="datetime-local"
                          class="form-control"
                          formControlName="dateVisibilite"
                          required
                        />
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="">Date de fin *</label>
                        <input
                          type="datetime-local"
                          class="form-control"
                          formControlName="dateFin"
                          required
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-5 col-sm-12 right">
                    <div class="row">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Sites</th>
                            <th>Accès</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let site of ListeSite">
                            <td>{{ site.nom }}</td>
                            <td>
                              <div class="form-check form-switch">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  id="flexSwitchCheckChecked"
                                  [checked]="selectedAccesSite.includes(site.id)"
                                  (change)="onAccesSiteCheckboxChange($event, site.id)"
                                />
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="mb-3">
                      <label for="niveau" class="form-label">Niveau</label>
                      <select
                        id="niveau"
                        formControlName="niveau"
                        class="form-select"
                        aria-label="Sélection du niveau"
                      >
                        <option value="" selected>Sélectionner un niveau</option>
                        <option value="0">PAS DE NIVEAU</option>
                        <option value="1">N1</option>
                        <option value="2">N2</option>
                      </select>
                    </div>
                  </div>

                  <!-- Titre -->
                </div>
                <!-- Ajouter des questionnaires -->
                <div class="form-check mt-4 mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    (change)="checkValue($event)"
                    id="addQuestionnaire"
                    formControlName="isChecked"
                  />
                  <label class="form-check-label" for="addQuestionnaire">
                    <h6>Ajouter des questionnaires ?</h6>
                  </label>
                </div>

                <!-- Questions / Réponses -->
                <div *ngIf="showQuestionnaireValue" class="mt-3">
                  <div class="row mt-2">
                    <md-input-container formGroupName="Quiz1">
                      <div class="row mt-2">
                        <div class="col-md-6">
                          <div class="form-floating">
                            <textarea
                              class="form-control"
                              placeholder="Leave a comment here"
                              id="floatingTextarea"
                              formControlName="Question1"
                            ></textarea>
                            <label for="floatingTextarea" style="font-size: 10px">Question 1</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="" style="font-size: 10px">Réponse 1</label>
                          <select
                            class="form-select"
                            style="font-size: 10px"
                            formControlName="Reponse1"
                          >
                            <option
                              *ngFor="let response of responses"
                              [value]="response.id"
                              style="font-size: 10px"
                            >
                              {{ response.label }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </md-input-container>
                    <md-input-container formGroupName="Quiz2">
                      <div class="row mt-2">
                        <div class="col-md-6">
                          <div class="form-floating">
                            <textarea
                              class="form-control"
                              placeholder="Leave a comment here"
                              id="floatingTextarea"
                              formControlName="Question2"
                            ></textarea>
                            <label for="floatingTextarea" style="font-size: 10px">Question 2</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="" style="font-size: 10px">Réponse 2</label>
                          <select
                            class="form-select"
                            style="font-size: 10px"
                            formControlName="Reponse2"
                          >
                            <option
                              *ngFor="let response of responses"
                              [value]="response.id"
                              style="font-size: 10px"
                            >
                              {{ response.label }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </md-input-container>
                    <md-input-container formGroupName="Quiz3">
                      <div class="row mt-2">
                        <div class="col-md-6">
                          <div class="form-floating">
                            <textarea
                              class="form-control"
                              placeholder="Leave a comment here"
                              id="floatingTextarea"
                              formControlName="Question3"
                            ></textarea>
                            <label for="floatingTextarea" style="font-size: 10px">Question 3</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="" style="font-size: 10px">Réponse 3</label>
                          <select
                            class="form-select"
                            style="font-size: 10px"
                            formControlName="Reponse3"
                          >
                            <option
                              *ngFor="let response of responses"
                              [value]="response.id"
                              style="font-size: 10px"
                            >
                              {{ response.label }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </md-input-container>
                    <md-input-container formGroupName="Quiz4">
                      <div class="row mt-2">
                        <div class="col-md-6">
                          <div class="form-floating">
                            <textarea
                              class="form-control"
                              placeholder="Leave a comment here"
                              id="floatingTextarea"
                              formControlName="Question4"
                            ></textarea>
                            <label for="floatingTextarea" style="font-size: 10px">Question 4</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="" style="font-size: 10px">Réponse 4</label>
                          <select
                            class="form-select"
                            style="font-size: 10px"
                            formControlName="Reponse4"
                          >
                            <option
                              *ngFor="let response of responses"
                              [value]="response.id"
                              style="font-size: 10px"
                            >
                              {{ response.label }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </md-input-container>
                  </div>
                </div>
                <!-- Autorisation de la fiche -->
                <h6 class="mt-4">Autorisation de la fiche</h6>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Autorisation</th>
                      <th>Quiz</th>
                      <th>Utilité</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let role of ListeProfil">
                      <td>{{ role.nom }}</td>
                      @if (
                        role.Role_Associe === 'R_ADMI' ||
                        role.Role_Associe === 'R_SUPE' ||
                        role.Role_Associe === 'R_GB'
                      ) {
                        <td><input class="form-check-input" type="checkbox" /></td>
                        <td><input class="form-check-input" type="checkbox" /></td>
                      } @else {
                        <td><input class="form-check-input" type="checkbox" checked /></td>
                        <td><input class="form-check-input" type="checkbox" checked /></td>
                      }
                    </tr>
                  </tbody>
                </table>

                <!-- Boutons -->
                <div class="text-center">
                  <button mat-raised-button (click)="handleOnSumit()" style="margin-right: 5px">
                    Envoyer
                  </button>
                  <button mat-raised-button (click)="resetForm()">Effacer</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
