<mat-card class="md-pt-5">
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Contrôle de contenu Actif">
         <form [formGroup]="form_echantillon">
         <div class="col-md-2 align-items-center" style="margin-top:5px;">
          <mat-form-field>
            <mat-label>Saisissez la quantité</mat-label>
            <input type="number" min="1" matInput formControlName="quantite_echantillon">
          </mat-form-field>
        </div>
        <div class="col-md-1 align-items-center" style="margin-top: -10px;">
          <button mat-button  [disabled]="form_echantillon.invalid" (click)="display_echantillon_actif()">Échantillon</button>
        </div>
        </form>
        <div *ngIf="show_echantillonnage_template" class="example-container mat-elevation-z8 py-2">
          <form [formGroup]="form">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  style="cursor: pointer"
                  (click)="openDialog(element.id)"
                >
                  {{ element.id }}
                </td>
              </ng-container>
              <ng-container matColumnDef="titre">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  style="cursor: pointer"
                  (click)="openDialog(element.id)"
                >
                  {{ element.titre }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element.id)">
                  {{ element.type }}
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="dateDebut">
                <th mat-header-cell *matHeaderCellDef>DATE_DEBUT</th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element.id)">
                  {{ element.dateDebut }}
                </td>
              </ng-container>
                  <ng-container matColumnDef="dateFin">
                <th mat-header-cell *matHeaderCellDef>DATE_FIN</th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element.id)">
                  {{ element.dateFin }}
                </td>
              </ng-container>
              <ng-container matColumnDef="Gestionnaire">
                <th mat-header-cell *matHeaderCellDef>Gestionnaire</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.Gestionnaire }}
                </td>
              </ng-container>
              <ng-container matColumnDef="exactitude">
                <th mat-header-cell *matHeaderCellDef style="text-align: center">Exactitude</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  [formGroup]="getFormGroupAt(i)"
                  class="text-center"
                >
                  <mat-radio-group aria-label="Select an option" formControlName="response">
                    <mat-radio-button value="1">Oui</mat-radio-button>
                    <mat-radio-button value="0">Non</mat-radio-button>
                  </mat-radio-group>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                style="padding-top: 2px"
              ></tr>
            </table>
          </form>
          <div class="text-end py-2">
            <button
              mat-button
              class=""
              [disabled]="!form.valid || !allResponsesSelected()"
              (click)="submitResponses()"
            >
              Valider
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Contrôle M-1">
         <form [formGroup]="form_echantillon_M_1">
         <div class="col-md-2 align-items-center" style="margin-top:5px;">
          <mat-form-field>
            <mat-label>Saisissez la quantité</mat-label>
            <input type="number" min="1" matInput formControlName="quantite_echantillon_M_1">
          </mat-form-field>
        </div>
        <div class="col-md-1 align-items-center" style="margin-top: -10px;">
          <button mat-button  [disabled]="form_echantillon_M_1.invalid" (click)="display_echantillon_M_1()">Échantillon</button>
        </div>
        </form>
        <div
          *ngIf="show_echantillonnage_template_M_1"
          class="example-container mat-elevation-z8 py-2"
        >
          <form [formGroup]="form">
            <table mat-table [dataSource]="dataSource_M_1" class="mat-elevation-z8">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  style="cursor: pointer"
                  (click)="openDialog(element.id)"
                >
                  {{ element.id }}
                </td>
              </ng-container>
              <ng-container matColumnDef="titre">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  style="cursor: pointer"
                  (click)="openDialog(element.id)"
                >
                  {{ element.titre }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element.id)">
                  {{ element.type }}
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="dateDebut">
                <th mat-header-cell *matHeaderCellDef>DATE_DEBUT</th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element.id)">
                  {{ element.dateDebut }}
                </td>
              </ng-container>

              <ng-container matColumnDef="dateFin">
                <th mat-header-cell *matHeaderCellDef>DATE_FIN</th>
                <td mat-cell *matCellDef="let element" (click)="openDialog(element.id)">
                  {{ element.dateFin }}
                </td>
              </ng-container>
              <ng-container matColumnDef="Gestionnaire">
                <th mat-header-cell *matHeaderCellDef>Gestionnaire</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.Gestionnaire }}
                </td>
              </ng-container>
              <ng-container matColumnDef="exactitude">
                <th mat-header-cell *matHeaderCellDef style="text-align: center">Exactitude</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  [formGroup]="getFormGroupAt_M_1(i)"
                  class="text-center"
                >
                  <mat-radio-group aria-label="Select an option" formControlName="response">
                    <mat-radio-button value="1">Oui</mat-radio-button>
                    <mat-radio-button value="0">Non</mat-radio-button>
                  </mat-radio-group>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                style="padding-top: 2px"
              ></tr>
            </table>
          </form>
          <div class="text-end py-2">
            <button
              mat-button
              class=""
              [disabled]="!form_M_1.valid || !allResponsesSelected_M_1()"
              (click)="submitResponses_M_1()"
            >
              Valider
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Reporting des Contrôles" (click)="chargement_reporting()" >
        
        <div class="example-container">
         <form [formGroup]="form_echantillon_M_1">
        <div class="col-md-1 align-items-center" style="margin-top: -15px;">
          <button mat-button   (click)="chargement_reporting()">Charger</button>
        </div>
        </form>
        </div>
          <div class="cards-container">
              <div
                class="card"
                *ngFor="let element of dataSource_reporting_resultat; let i = index"
                (mouseenter)="hoveredCard = element.id_CONTROLE"
                (mouseleave)="hoveredCard = null"
                [class.hovered]="hoveredCard === element.id_CONTROLE"
                [style.animationDelay]="i * 80 + 'ms'"
              >
              <div class="title">Reporting</div>
               <div class="card-body">
                
                <div class="card-header">
                  <span class="badge">#{{ element.id_CONTROLE }}</span>
                  <span class="score">{{ element.score }}%</span>
                </div>

                <div class="card-content">
                  <p class="date">
                    {{ element.dateControle | date:'dd/MM/yyyy' }}
                  </p>
                </div>
                <div class="icons-content">
                  <span class="score">  
                    <mat-icon
                class="delete_icon"
                matTooltip="télécharger"
                matTooltipPosition="above"
                style="color: black;"
                >download</mat-icon
              > </span>
                  <span class="score">
                     <mat-icon
               
                class="delete_icon"
                matTooltip="supprimer"
                matTooltipPosition="above"
                >delete_forever</mat-icon
              >
                  </span>
                </div>
              </div>
              </div>
            </div>
              
            <!--
           <form [formGroup]="form_echantillon_M_1">
        <div class="col-md-1 align-items-center" style="margin-top: -10px;">
          <button mat-button   (click)="chargement_reporting()">Charger</button>
        </div>
        </form>
        <div 
        >
          <form [formGroup]="form" >
            <table mat-table [dataSource]="dataSource_reporting_resultat" class="mat-elevation-z8">
              <ng-container matColumnDef="id_CONTROLE">
                <th mat-header-cell *matHeaderCellDef>id_CONTROLE</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  style="cursor: pointer"
                 
                >
                  {{ element.id_CONTROLE }}
                </td>
              </ng-container>
              <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef>score</th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  style="cursor: pointer"
                >
                  {{ element.score }}
                </td>
              </ng-container>

      
              <ng-container matColumnDef="dateControle">
                <th mat-header-cell *matHeaderCellDef>dateControle</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.dateControle }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns_reporting"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns_reporting"
                style="padding-top: 2px"
              ></tr>
            </table>
          </form>
       
        </div> -->
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
