<mat-card>
  <mat-card-header>
    <div class="container pb-3">
      <div
        class="row justify-content-between align-items-center"
        justify-content-space-between
        bg-red
      >
        <div class="col-sm-4 text-start p-0">
          <input matInput (keyup)="applyFilter($event)" placeholder="Recherche" />
        </div>
        <div class="col-sm-4 text-end p-0">
          <mat-icon
            (click)="download()"
            class="download_icon"
            matTooltip="Télécharger"
            matTooltipPosition="above"
          >
            cloud_download</mat-icon
          >
        </div>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="profil">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>''</th>
          <td mat-cell *matCellDef="let row"><mat-icon>person</mat-icon></td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="nom_utilisateur">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Login</th>
          <td mat-cell *matCellDef="let row">{{ row.nom_utilisateur }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fonction">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fonction</th>
          <td mat-cell *matCellDef="let row">
            <span style="color: green">{{ row.fonction }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="programme">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Programme</th>
          <td mat-cell *matCellDef="let row">
            {{ row.programme }}
          </td>
        </ng-container>
        <ng-container matColumnDef="site">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Site</th>
          <td mat-cell *matCellDef="let row">
            {{ row.site }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ETAT</th>
          <td mat-cell *matCellDef="let row">
            {{ row.status }}
          </td>
        </ng-container>
        <ng-container matColumnDef="superviseur">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Superviseur</th>
          <td mat-cell *matCellDef="let row">
            {{ row.superviseur }}
          </td>
        </ng-container>
        <ng-container matColumnDef="dateCreation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Creation</th>
          <td mat-cell *matCellDef="let row">
            {{ row.dateCreation | date: 'dd/MM/yyyy HH:mm' }}
          </td>
        </ng-container>
        <!-- Fruit Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rénitialisation du mot de passe</th>
          <td mat-cell *matCellDef="let row" style="text-align: center">
            <mat-icon
              style="color: green"
              (click)="deleteSomething(row.id)"
              matTooltip="Lancer le retest"
              matTooltipPosition="above"
            >
              replay</mat-icon
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Pas de données qui correspond à la récherche</td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
