<mat-card>
  <mat-tab-group>
    <mat-tab label="Mes Informations">
      <div class="m-16 profile">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <ul>
              <li class="">
                <span class="title_label"> Nom : </span
                ><span class="title_text"> {{ user_infos.nom }}</span>
              </li>
              <li class="">
                <span class="title_label"> Prénom : </span
                ><span class="title_text"> {{ user_infos.prenom }}</span>
              </li>
              <li class="">
                <span class="title_label"> Login :</span
                ><span class="title_text"> {{ user_infos.name }}</span>
              </li>
              <li class="">
                <span class="title_label"> Email :</span
                ><span class="title_text"> {{ user_infos.email }}</span>
              </li>
              <li class="">
                <span class="title_label">Télephone : </span
                ><span class="title_text"> {{ user_infos.telephone }}</span>
              </li>
              <li class="">
                <span class="title_label"> Adresse : </span
                ><span class="title_text"> {{ user_infos.adresse }}</span>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12">
            <ul>
              <li class="">
                <span class="title_label"> Ville : </span
                ><span class="title_text"> {{ user_infos.ville }}</span>
              </li>
              <li class="">
                <span class="title_label">Genre : </span
                ><span class="title_text"> {{ user_infos.genre }}</span>
              </li>
              <li class="">
                <span class="title_label">Fonction : </span
                ><span class="title_text"> {{ user_infos.fonction }}</span>
              </li>
              <li class="">
                <span class="title_label">Programme : </span
                ><span class="title_text"> {{ user_infos.programme }}</span>
              </li>
              <li class="">
                <span class="title_label">Site : </span
                ><span class="title_text"> {{ user_infos.site }}</span>
              </li>
            </ul>
          </div>
        </div>
        <p></p>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
