<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">
      <img class="Logo" [src]="imageOrangeLogo" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <button mat-icon-button class="hide-small" (click)="toggleFullscreen()">
        <mat-icon>fullscreen</mat-icon>
      </button>
      <app-notification class="hide-small" />
      <app-user />
      <button mat-raised-button (click)="RouterOnWorkSpace()">Mon espace</button>
    </div>
  </div>
</nav>

<div class="container-fluid mt-2">
  <div class="row">
    <ul class="d-flex">
      <li>
        <button type="button" class="btn btn-sm button pb-1" (click)="isShow('SearchByCategory')">
          <mat-icon class="pt-2">search</mat-icon> <span>Recherche par Catégorie</span>
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-sm button pb-1" (click)="isShow('SearchAvance')">
          <mat-icon class="pt-2">search</mat-icon>
          <span> Recherche Avancée </span>
        </button>
      </li>
      @if (user.roles === 'R_ADMI' || user.roles === 'R_GB' || user.roles === 'R_SUPE') {
        <li>
          <button type="button" class="btn btn-sm button pb-1" (click)="isShow('SearchArchive')">
            <mat-icon class="pt-2">search</mat-icon>
            <span>Recherche dans archive</span>
          </button>
        </li>
      }
      <li>
        <!-- <div class="btn btn-sm button pb-1">
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="selectedNiveau"
            (change)="onNiveauChange($event)"
          >
            <mat-radio-button class="example-radio-button" value="1">N1</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="2">N2</mat-radio-button>
          </mat-radio-group>
        </div>  -->

        <div class="row">
          <div class="col">
            <select
              id="niveauSelect"
              class="form-select niveauPolice"
              [(ngModel)]="selectedNiveau"
              (ngModelChange)="onNiveauChange($event)"
              aria-label="Sélection du niveau"
            >
              <option value="reset" *ngIf="showDefaut" class="niveauPolice">Par défaut</option>
              <option value="1" class="niveauPolice">N1</option>
              <option value="2" class="niveauPolice">N2</option>
            </select>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid" *ngIf="isShowValue">
  <div class="row" *ngIf="isShowCategorie">
    <div class="col-md-12">
      <div class="category-grid">
        <div class="category-item" *ngFor="let item of categorieAndSousCategorie">
          <button
            class="btn btn-sm card_categorie"
            (click)="isShowSousCategorie(item.id)"
            [ngClass]="{ active: activeCategorieId === item.id }"
          >
            <img [src]="folder" alt="Category icon" />
            <h6 class="Categorie">{{ item.Categorie | uppercaseAll }}</h6>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3 align-items-center" *ngIf="isShowValueSousCategorieDiv">
    <div
      class="col-md-8"
      style="background-color: #ff8d363d; border: 4px solid #ffff; border-radius: 5px"
    >
      <h6 class="text-center">Les Catégories</h6>

      <div class="row p-0">
        <div class="col-md-2 col-sm-4 py-md-4" *ngFor="let item of categorieAndSousCategorie">
          <button
            class="btn card_categorie"
            (click)="isShowSousCategorie(item.id)"
            [ngClass]="{ active: activeCategorieId === item.id }"
          >
            <img [src]="folder" alt="" class="img_categeory" />
            <h6 class="Categorie">{{ item.Categorie | uppercaseAll }}</h6>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row d-block" style="padding-top: 0px">
        <div class="col-md-12" *ngIf="isShowValueSousCategorie">
          <div class="container">
            <div class="row justify-content-center d-flex align-items-center">
              <div class="col-md-4 p-0" *ngFor="let item of sous_categorie[0].Sous_Categorie">
                <button class="btn" (click)="isShowTableValue(item.id, item.id_Categorie)">
                  <img [src]="folder2" class="img_sous_categeory" alt="" />
                  <h6 class="label_sous_categorie">{{ item.nom | uppercaseAll }}</h6>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-12 justify-content-top"
          style="padding-top: 0px"
          *ngIf="isShowTableValueVariable"
        >
          <div class="example-container mat-elevation-z8">
            <div class="justify-content-center align-items-center text-center">
              <input
                class="text-center"
                matInput
                (keyup)="applyFilter_par_categorie($event)"
                placeholder="rechercher"
              />
            </div>

            <div class="example-table-container">
              <table
                mat-table
                [dataSource]="data_table"
                class="example-table"
                matSort
                matSortActive="created"
                matSortDisableClear
                matSortDirection="desc"
              >
                <ng-container matColumnDef="titre">
                  <th mat-header-cell *matHeaderCellDef>{{ 'titre' | titlecase }}</th>
                  <td mat-cell *matCellDef="let row">{{ row.titre | uppercaseAll }}</td>
                </ng-container>

                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef>{{ 'type' | titlecase }}</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.type | uppercaseAll }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns_table"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns_table"
                  matTooltip="lire"
                  (click)="dispalay_fiche(row.id)"
                ></tr>
              </table>
            </div>

            <mat-paginator
              [length]="resultsLength_table"
              [pageSize]="5"
              aria-label="table"
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row" *ngIf="isShowValueSearchAvance">
    <div class="col-md-5 m-auto">
      <form action="">
        <mat-form-field appearance="outline" class="sheet-selector-compact" style="width: 100%">
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Saisissez le titre, le type, la catégorie etc..."
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="isShowValueSearchArchive">
    <div class="col-5 m-auto">
      <mat-form-field appearance="outline" class="sheet-selector-compact" style="width: 100%">
        <input
          matInput
          (keyup)="applyFilter_Archive($event)"
          placeholder="Saisissez le titre, le type, la catégorie etc..."
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>
@if (user.roles === 'R_TC') {
  <div class="container-fluid mb-md-2 mt-md-2 card">
    <div class="col-md-1">
      <form [formGroup]="dateForm">
        <mat-form-field appearance="outline" class="custom-datepicker">
          <input matInput [matDatepicker]="picker" formControlName="selectedDate" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
    </div>
    <div class="row justify-content-between">
      <div class="col-md-3">
        <div class="numbers text-center">
          <p class="card-category">Nombre de fiche lue</p>
          <h4 class="card-title">{{ statistic_TC?.nombre_fiche_lue || 0 }}</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="numbers text-center">
          <p class="card-category">Nombre de Quiz efféctué</p>
          <h4 class="card-title">{{ statistic_TC?.nombre_quiz_effectue || 0 }}</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="numbers text-center">
          <p class="card-category">Nombre de sondage éffectué</p>
          <h4 class="card-title">{{ statistic_TC?.nombre_sondage_effectue || 0 }}</h4>
        </div>
      </div>
    </div>
  </div>
}

<div class="container-fluid">
  <div class="row stat">
    <!--tableau-->

    <div [class]="div_table" *ngIf="isShowValueSearchAvance">
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="titre">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let element" style="font-size: 10px">
            {{ element.titre | uppercaseAll }}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
          <mat-cell *matCellDef="let element" style="font-size: 10px">
            {{ element.type | uppercaseAll }}
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="dateDebut">
          <mat-header-cell *matHeaderCellDef> Date Début </mat-header-cell>
          <mat-cell *matCellDef="let element" style="font-size: 10px">
            {{ element.dateDebut }}
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="dateFin">
          <mat-header-cell *matHeaderCellDef> Date Fin </mat-header-cell>
          <mat-cell *matCellDef="let element" style="font-size: 10px">
            {{ element.dateFin }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Gestionnaire">
          <mat-header-cell *matHeaderCellDef> Gestionnaire </mat-header-cell>
          <mat-cell *matCellDef="let element" style="font-size: 10px">
            {{ element.Gestionnaire }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="dispalay_fiche(row.id)"
          style="cursor: pointer"
        ></mat-row>
      </mat-table>
    </div>
    <div [class]="div_table" *ngIf="isShowValueSearchArchive">
      <mat-table [dataSource]="dataSource_Archive" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="titre">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let element" style="font-size: 10px">
            {{ element.titre }}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
          <mat-cell *matCellDef="let element" style="font-size: 10px">
            {{ element.type }}
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="dateDebut">
          <mat-header-cell *matHeaderCellDef> Date Début </mat-header-cell>
          <mat-cell *matCellDef="let element" style="font-size: 10px">
            {{ element.dateDebut }}
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="dateFin">
          <mat-header-cell *matHeaderCellDef> Date Archive </mat-header-cell>
          <mat-cell *matCellDef="let element" style="font-size: 10px">
            {{ element.dateFin }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ETAT">
          <mat-header-cell *matHeaderCellDef> ETAT </mat-header-cell>
          <mat-cell *matCellDef="let element" style="font-size: 10px; color: red">
            {{ element.ETAT }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Gestionnaire">
          <mat-header-cell *matHeaderCellDef> Gestionnaire </mat-header-cell>
          <mat-cell *matCellDef="let element" style="font-size: 10px">
            {{ element.Gestionnaire }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns_Archive"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns_Archive"
          (click)="dispalay_fiche(row.id)"
          style="cursor: pointer"
        ></mat-row>
      </mat-table>
    </div>
    <!--Fin tableau-->
    @if (user.roles === 'R_ADMI' || user.roles === 'R_GB' || user.roles === 'R_SUPE') {
    } @else {
      <nav class="col-md-2">
        <!-- fin entete debut corps-->
        <div id="main">
          <div id="menu">
            <div class="container py-3">
              <div class="row d-block">
                <div class="col nbrTirage">
                  <button class="nbrliste_button" (click)="openDialog_Fiche_non_lu()">
                    <div class="labelContainer">
                      <h6>
                        <span style="font-size: small; text-align: center">
                          <span style="font-size: 10px">Fiche non lu</span>
                          <br />
                          <strong>{{ nb_fiche_non_lu }} </strong> <br />
                        </span>
                      </h6>
                    </div>
                  </button>
                </div>
                <diV class="col nbrliste my-md-3">
                  <button class="nbrliste_button" (click)="openDialog_Quiz_encours()">
                    <div class="labelContainer">
                      <h6 style="font-size: small; text-align: center">
                        <span style="font-size: small; text-align: center">
                          <span style="font-size: 10px"> Quiz en cours</span>
                          <br />
                          <strong>{{ nb_quiz_encours }} </strong> <br />
                        </span>
                      </h6>
                    </div>
                  </button>
                </diV>

                <div class="col nbrTirageValide p-0">
                  <button class="nbrliste_button" (click)="openDialog_Sondages_encours()">
                    <div class="labelContainer">
                      <h6 style="font-size: small; text-align: center">
                        <span style="font-size: small; text-align: center">
                          <span style="font-size: 10px"> Sondage en cours</span>
                          <br />
                          <strong>{{ nb_sondage_encours }} </strong> <br />
                        </span>
                      </h6>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    }
  </div>
  <div class="row" style="position: relative; bottom: 0px">
    <div class="col-md-12 col-sm-12 text-center py-3" style="cursor: pointer; font-weight: bold">
      <button (click)="openDialog_Lire_toutes_les_fiche()" class="btn_toutes_fiches">
        <span style="font-size: small">Voir toutes les fiches</span>
      </button>
    </div>
  </div>
  <app-customizer (optionsChange)="updateOptions($event)" />
</div>
